.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #42454c;
  border: 1px solid #42454c;
  color: #f2f2f2;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #5e616b;
  border-color: #5e616b;
}
